/* Styles for profile page */
.container {
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-top: 6px solid #f497b6;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* Update message styling with fade-out animation */
.update-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 0 auto 15px auto;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    width: fit-content;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 2;
    }

    100% {
        opacity: 0;
    }
}

h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #f8c3d7;
    padding-bottom: 5px;
}


.profile-details {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-details p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

/* Button styling */
.edit-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 12px;
    background-color: #f497b6;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.edit-button:hover {
    background-color: #f8c3d7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.edit-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

td {
    background-color: #fafafa;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.close-btn:hover {
    color: #555;
}